<!DOCTYPE html>
<html>
<head>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <link href="https://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">

    <!--custom css-->
    <link href="styles/contact-list.css">

    <!--Angularjs lib ref-->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
</head>    

<body ng-app="addrBook" ng-controller="contactListCtrl">
    <div class="container">
        <div class="panel panel-info">
            <div class="panel-heading">           
                <div class="panel-title">
                <h3 class="text-center">Phone Book</h3>
                                
                </div>      
            </div>
            <div class="panel-body">
            <form class="form-horizontal">
                <div class="form-group has-info has-feedback">
                    <label for="seacrh" class="col-sm-2 control-label">Search: </label>
                    <div class="col-sm-5">
                        <input type="text"  name="search" ng-model ="searchList" class="form-control">
                        <span class="glyphicon glyphicon-search form-control-feedback"></span>                                            
                    </div>
                </div>
            </form> 
              <div class="table-responsive">
                <table class="table table-striped">
                  <thead>
                    <tr>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Phone</th>
                    </tr>
                   </thead>
                   <tbody>
                    <tr ng-repeat="x in info | filter:searchList">
                        <td><span ng-hide="showMe($index)">{{x.firstName}}</span><input text="text"class="form-control input-sm" ng-model="x.firstName" ng-show="showMe($index)"></td>
                        <td><span ng-hide="showMe($index)">{{x.lastName}}</span><input text="text" class="form-control input-sm" ng-model="x.lastName" ng-show="showMe($index)"></td>
                        <td><span ng-hide="showMe($index)">{{x.phone}}</span><input text="text" class="form-control input-sm" ng-model="x.phone" ng-show="showMe($index)"></td>
                        <td><a href="#" ng-click="removeItem()"><span class="glyphicon glyphicon-trash"></span>&nbsp;</a>/<a href="#" ng-click="change()" ng-hide="showMe($index)"> <span class="glyphicon glyphicon-edit"></span></a></a><a href="#" ng-click="save()" ng-show="showMe($index)">&nbsp;<span class="glyphicon glyphicon-ok"></span></a></td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <div class="panel-footer">
                <form class="form-inline">
                    <div class="form-group">
                        <span>First Name：</span>
                        <input type="text" class="form-control" ng-model="newFirstName" >
                    </div>
                    <div class="form-group">
                        <span>Last Name：</span>
                        <input type="text" class="form-control" ng-model="newLastName" >
                    </div> 
                    <div class="form-group">
                        <span>Phone：</span>
                        <input type="text" class="form-control" ng-model="newPhone" >
                    </div>
                    <input type="button" class="btn btn-primary btn-sm" value="Add"ng-click="addItem()">       
                </form>            
            </div>
        </div>   

            
    </div>
</html>