.panel{
    width: 80%;
    margin: 50px auto;
}
td:nth-of-type(1){
    width: 30%;
}
td:nth-of-type(2){
    width: 35%;
}
input[type="text"]{
    width:100%;
}

input.ng-invalid {
    border: 1px solid red;
}
input.ng-valid {
border: 1px solid green ;
}
.error {
    color: red;
}
@media (min-width: 768px) and (max-width: 992px){
    .form-inline .form-control {
     width: 150px;   
    }  
} 